.container{
    padding: 500px;
  }
  
  header {
    background-color: #a6e6ff;
    border-bottom: solid 2px #000000;
    padding: 2em;
    justify-content: space-between;
  }
  
  header img {
    max-height: 45px;
  }
  
  .menuIcon {
    max-height: 40px;
    margin: 5px 0 0 0;
    cursor: pointer;
  }
  
  .flexbox {
    display: flex;
  }
  